<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">My profile</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-6">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>My Subscription</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <div class="row m-t-20">
              <div class="col-sm-6 col-lg-4" *ngFor="let subscription of subscriptions">
                <mat-card-header>
                  <mat-card-title>{{ subscription.planName }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="b-t-1">
                  <p>Created On: <span class="date">{{ subscription.createdOn | date: 'dd-MM-yyyy' }}</span></p>
                  <p>Renew Date: <span class="date">{{ subscription.renewDate | date: 'dd-MM-yyyy' }}</span></p>
                  <p *ngIf="subscription.status">Status:
                    <span [style.color]="subscription.status === 'Inactive' ? 'red' : 'green'"
                          [style.font-weight]="'bold'">{{subscription.status}}</span>
                  </p>
                </mat-card-content>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

      <div class="col-lg-6">
        <!-- ------------------------------------------------------------------------- -->
        <!-- avatar -->
        <!-- ------------------------------------------------------------------------- -->

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>My data</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-chip-listbox aria-label="Dog selection">
              <mat-chip class="f-s-14">
                <img matChipAvatar src="/assets/images/profile/user-1.jpg" alt="Photo of a Shiba Inu" />
                Anderson
              </mat-chip>

            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>
